---
import Navbar from 'widgets/Navbar';
import Sidebar from 'widgets/Sidebar';
export interface Props {
	title: string;
}

const url = Astro.url.pathname;

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar client:load />
		<div class="main-wrapper">
			<Sidebar url={url} client:load />
      <div class="main">

        <slot />
      </div>
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background: #f2f6f8;
	}
	body {
		min-height: 100vh;
	}

	.transition-300 {
		transition: 0.3s ease-in-out;
	}
</style>
<style>
	.main-wrapper {
		display: flex;
		height: 100vh;
		padding-top: 49px;
	}
  .main {
    flex: 1;
    height: calc(100vh - 49px);
    overflow-y: scroll;
  }
</style>
